{% extends 'base.html' %}
{% load static %}
{% block title %}Ruminants - Rumiantes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/rumiantes.css' %}">
{% endblock %}


{% block content %}
<script src="{% static 'js/lista_ruminants.js' %}"></script>

<section class="filters">
    <form method="get" class="filters-form">
        <div class= "first-row">
            <div class="search-wrap">
                <span class="icon">
                <img src="{% static "img/icons/searchIcon.svg" %}" alt="Ícono de búsqueda" />
                </span>
                <input type="search" name="name_query" value="{{ "" }}" placeholder="Buscar por nombre" />
            </div>
            
            <label for="listview" >
                <input type="radio" name="selected_View" value="listview" onclick="sendGetRequest(this.name,this.value)"
                    {% if selected_View == 'listview' %}checked{% endif %}>
                <div class="imageContainer listviewIcon" tabindex="0">
                    <img  src="{% static "img/icons/listview.svg" %}" alt="lista1" />
                </div>
            </label>

            <label>
                <input type="radio" name="selected_View" value="squareview" onclick="sendGetRequest(this.name,this.value)"
                        {% if selected_View == 'squareview' %}checked{% endif %}>
                <div class="imageContainer squareviewIcon" tabindex="1">
                    <img src="{% static "img/icons/squareview.svg" %}" alt="lista2" />
                </div>
            </label>

            <label>
                <input type="radio" name="selected_View" value="locationview" onclick="sendGetRequest(this.name, this.value)"
                    {% if selected_View == 'locationview' %}checked{% endif %}>
                <div class="imageContainer locationIcon" tabindex="2">
                    <img src="{% static "img/icons/location.svg" %}" alt="búsqueda por ubicación" />
                </div>
            </label>
            
            <button class="imageContainer filterIcon">
                <img src="{% static "img/icons/filterIcon.svg" %}" alt="filtro" />
            </button>
        
        </div>

        <div class="second-row">
            <div class="chip-group groups" >
                <label>Grupos</label>
                <select name="grupo" onchange="this.form.submit()">
                    <option value="">Todos</option>
                    {% for g in grupos %}
                    <option value="{{ g.id }}" {% if f_grupo|default:'' == g.id|stringformat:'s' %}selected{% endif %}>{{ g.nombre }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="chip-group estado">
                <label>Estado</label>
            {% comment %} 1=>crítico 2=precaución 3=>celo 4=>parto {% endcomment %}
                <select name="estado_filter" onchange="this.form.submit()">
                    <option value="all" {% if estado_filter == 'all' %}selected{% endif %}>Todos</option>
                    <option value="critical" {% if estado_filter == 'critical' %}selected{% endif %}>Críticos</option>
                    <option value="active" {% if estado_filter == 'active' %}selected{% endif %}>Activos</option>
                    <option value="caution" {% if estado_filter == 'caution' %}selected{% endif %}>Precaución</option>
                    <option value="heat" {% if estado_filter == 'heat' %}selected{% endif %}>Celo</option>
                    <option value="delivery" {% if estado_filter == 'delivery' %}selected{% endif %}>Parto</option>
                    <option value="productive" {% if estado_filter == 'productive' %}selected{% endif %}>En Producción</option>  
                </select>
            </div>
        </div>
    </form>
</section>

{% if user.is_authenticated and user.perfil.rol != 'jefe' %}
<a class="add-ruminant" href="{% url 'ruminants:agregar_ruminant' %}">+ Rumiante</a>
{% endif %}

<section class="container">
{% for ruminant in ruminants_data %}
    <div class="rumiante-card">
        <ul class="list">
            <li class="element">
                <div class=
                    "temp {% if ruminant.2 == "critical" %} critical 
                    {% elif  ruminant.2 == "caution" %} danger 
                    {% elif ruminant.2 == "heat" %} heat
                    {% elif ruminant.2 == "delivery" %} delivery
                    {% else %} active
                    {% endif %}">
                    <div class="tempImages">
                        {% if ruminant.0.get_sexo_display == "Macho"%}
                        <img src="{% static "img/genderMale.svg" %}" alt="simbolo de sexo masculino" />
                        {% elif ruminant.0.get_sexo_display == "Hembra" %}
                         <img src="{% static "img/genderFemale.svg" %}" alt="simbolo de sexo femenino" />
                        {% endif %} 
                        <img class="chivoTemp" src="{% static "img/chivoTemp.svg" %}" alt="Imagen de un rumiante reprensentando temperatura" />
                        <img class="termImage"src="{% static "img/termometer.svg" %}" alt="Imagen de un termometro" />
                    </div>
                    <div>{{ ruminant.1.temperatura}}°C</div>
                </div>

                <div class="data-card">
                    <div class="id">
                        ID: {{ ruminant.0.codigo }}
                    </div>
                    <div class="data-extra">
                        Edad: {{ ruminant.0.edad}} años |
                        Dias Prod: {{ ruminant.0.dias_produccion}} |
                        Días Lact: {{ ruminant.0.lactancia}} |
                        Estatus: {{ ruminant.0.get_estado_produccion_display }} 
                    </div>
                </div >

                <img class="arrow" src="{% static "img/arrow.svg" %}" alt="Símbolo de flecha">
            </li>
            {% comment %} <strong>Empresa:</strong> {{ ruminant.empresa.nombre }}<br>
            <strong>Modulo IoT:</strong> {{ ruminant.modulo_iot }}<br>
            <strong>Nombre:</strong> {{ ruminant.nombre }}<br>
            <strong>Código:</strong> {{ ruminant.codigo }}<br>
            <strong>Sexo:</strong> {{ ruminant.get_sexo_display }}<br>
            <strong>Procedencia:</strong> {{ ruminant.procedencia }}<br>
            <strong>Padres:</strong> {{ ruminant.padres }}<br>
            <strong>Raza:</strong> {{ ruminant.raza }}<br>
            <strong>Categoria reproductiva:</strong> {{ ruminant.categoria_reproductiva }}<br>
            <strong>Categoria productiva:</strong> {{ ruminant.categoria_productiva }}<br>
            <strong>Fecha último parto:</strong> {{ ruminant.fecha_ultimo_parto}}<br>
            <strong>Fecha servicio:</strong> {{ ruminant.fecha_servicio}}<br>
            <strong>Fecha esperada de parto:</strong> {{ ruminant.fecha_esperada_parto}}<br>
            <strong>Edad:</strong> {{ ruminant.edad}}<br>
            <strong>Dias de produccion:</strong> {{ ruminant.fecha_ultimo_parto}}<br>
            <strong>Lactancia:</strong> {{ ruminant.lactancia}}<br>
            <strong>Estado:</strong> {{ ruminant.get_estado_produccion_display }}<br>
            <starong>Activo:</strong> {{ ruminant.activo }}<br> {% endcomment %}
        </ul>
        
        {% comment %} {% if user.is_authenticated and user.perfil.rol != 'jefe' %}
        <a href="{% url 'ruminants:editar_ruminant' ruminant.id %}" style="margin-right: 10px;">
            <button type="button">Editar</button>
        </a>
        
        <!-- Delete Button -->
        <form method="post" action="{% url 'ruminants:eliminar_ruminant' ruminant.id %}" 
                onsubmit="return confirmDelete(this)"
                data-rumiante-nombre="{{ ruminant.nombre }}">
            {% csrf_token %}
            <button type="submit" style="color: red;">Eliminar rumiante</button>
        </form>
        {% endif %}  {% endcomment %}

    </div>

{% empty %}
    <p>No hay animales registrados.</p>
{% endfor %}
    <script>
        function confirmDelete(form) {
            var rumianteNombre = form.getAttribute('data-rumiante-nombre');
            return confirm('¿Estás seguro que quieres ELIMINAR permanentemente al usuario "' + usuarioNombre + '"?\n\nEsta acción no se puede deshacer.');
        }  
    </script>
</section>
{% endblock %}